<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wujie.project.mapper.ChapterReviewMapper">
        <resultMap id="cr" type="com.wujie.project.pojo.ChapterReview">
            <id property="crid" column="crid"/>
            <result property="crContent" column="cr_content"/>
            <result property="crDate" column="cr_date"/>
            <association property="user" javaType="com.wujie.project.pojo.User">
                <id property="uid" column="uid"/>
                <result property="uname" column="uname"/>
            </association>
            <association property="chapter" javaType="com.wujie.project.pojo.Chapter">
                <id property="cid" column="cid"/>
                <result property="cname" column="cname"/>
                <result property="chapterNumber" column="chapter_number"/>
            </association>
        </resultMap>
    <select id="selectChapterReview" resultMap="cr">
        select
            cr.cr_content,
            cr.cr_date,
            cr.crid,
            u.uid,
            u.uname,
            c.cid,
            c.chapter_number,
            c.cname
        from chapter_review cr
        join user u on cr.uid = u.uid
        join chapter c on c.cid = cr.cid
        <where>
            and cr.uid=u.uid
            <if test="bid!=null">
               and cr.cid in (select cid from chapter where bid = #{bid})
            </if>
            <if test="cid!=null">
               and cr.cid = #{cid}
            </if>
        </where>
        order by cr_date desc
    </select>
</mapper>